affine==2.4.0
attrs==26.1.0
certifi==2026.5.20
cftime==1.6.5
click==8.4.1
click-plugins==1.1.1.2
cligj==0.7.2
GDAL[numpy]==3.12.4
h5netcdf==1.8.1
h5py==3.16.0
numpy==2.4.6
packaging==26.2
pandas==3.0.3
pyparsing==3.3.2
pyproj==3.7.2
python-dateutil==2.9.0.post0
pytz==2026.2
rasterio==1.5.0
rioxarray==0.22.0
six==1.17.0
snuggs==1.4.7
tzdata==2026.2
wheel==0.47.0
xarray==2026.4.0